---
---

@import "{{ site.theme }}";

a {
  color: #ed0060db;
}

a:hover {
  color: #ed0060db;
}

a:visited {
  color: #ed0060db;
}

header img[alt="Logo"] {
  width: 160px;
  height: 160px;      /* make it a square */
  border-radius: 50%; /* circle */
  object-fit: cover;  /* crop instead of squish */
  display: block;
}
